header {
    background-color: aqua;
    width: 320px; height: 150px; margin: 50px auto 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header > * {
    border: 1px solid red;
    width: 50px; height: 50px;
}
header h1 {}
header nav {}
header nav .gnb {
    font-size: 0.7rem;
    display: flex;
    flex-flow: row wrap;
    /* 메인축, 교차축 속성 */
}/* 정렬 대상 1 부모 */
header nav .gnb > li {
    width: 50%;
    background-color: yellow;
}/* 정렬 대상 1 */
header nav .gnb > li > a {}
header nav .gnb > li:last-child {
    background-color: pink;
    display:flex;
    flex-flow: column nowrap;
}/* 정렬 대상 2 부모 */
header nav .gnb > li:last-child a {}/* 정렬 대상 2 */
header nav .gnb > li:last-child span {}/* 정렬 대상 2 */
header nav .gnb > li:last-child em {} /* 정렬 대상 2 */
header nav .gnb > li:first-child {}
header nav .gnb > li:first-child .sub_bg {
    background-color: plum;
    position: absolute; top: 60px; left: 50%;
    width: 700%; height: 100px;
    transform: translateX(-50%);/* 정중앙 배치 */
    /* display: flex; flex-flow: column nowrap; align-items: center; (inline-block이 아닌 경우에 가운데 배치) */
    text-align: center;/* inline-block의 inline특징을 파악해서 가운데로 배치 */
}
header nav .gnb > li:first-child .sub_bg ul {
    background-color: aquamarine; width: 100px; display: inline-block;
}
header nav .gnb > li:first-child .sub_bg ul li {}
header nav .gnb > li:first-child .sub_bg ul li a {}
main {height: 200vh; background-color: lightblue;}